<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/users.css">
  <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/b5377164ab.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">

  <title>Users</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-default fixed-top">
      <a class="navbar-brand" href=""><img src="assets/imgs/navlogo.png" height="50px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/"><span><i class="fa fa-home" aria-hidden="true"></i> Home</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="users"><span><i class="fa fa-users" aria-hidden="true"></i> Users</span></a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="aboutus"><span><i class="fa fa-user-circle-o" aria-hidden="true"></i> About
                Us</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal"><span><i
                  class="fa fa-address-book-o" aria-hidden="true"></i>
                Contact Us</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link button1" href="https://docs.google.com/forms/d/e/1FAIpQLSeVicK--oNjCwuO0DU0ctW40QfUZALqfcV3c2NTUS4knZXocQ/viewform" ><span><i class="fa fa-sitemap" aria-hidden="true"></i> Organization</span></a>
          </li>
      </div>
    </nav>
  </header>
  <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Connect with Us</h5>
          <button type="button" class="close" data-dismiss="modal" style="color: #fff;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row row-content">

            <div class="col-12">
              <form action="/contact" method="post" enctype=”multipart/form-data”>
                <div class="form-group row">
                  <label for="name" class="col-12 col-md-3 ml-2 col-form-label"> Name</label>
                  <div class="col-md-8 mr-1">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="telnum" class="col-12 col-md-3 ml-2 col-form-label">Contact No.</label>
                  <div class="col-md-8 mr-1">
                    <input type="tel" class="form-control " id="telnum" name="telnum" placeholder="Tel. number">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="emailid" class="col-12 col-md-3 ml-2 col-form-label">Email</label>
                  <div class="col-md-8 mr-1">
                    <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="message" class="col-12 ml-2 col-form-label">Your Message</label>
                  <div class="col-md-11 ml-2">
                    <textarea class="form-control" id="message" name="message" rows="6"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="ml-2 col-md-10">
                    <input type="submit" class="btn btn-dark" value="Connect">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <section style="background-color: #f5f5f5;padding-top: 100px;  ">
    <div class="container">
      <div class="row mt-4 mb-4">
        
        <div class="col-sm-6 column align-self-center pr-5" style="border-right: 2px solid #04151f"
          data-aos="fade-right">
          <span class="subheading" id="who">
            <h1>Who all can <br> use this app?</h1>
          </span>

        </div>
        <div class="col-sm-6 pl-5 align-self-center">
          <div class="container" data-aos="fade-left">
            <span class="subheading page-title"> Organization ​</span>
            <p>If you're an organization looking for people to volunteer for the event and also to publicise your event​
            </p>
            <br>
            <span class="subheading page-title">Participant</span>
            <p>Looking to volunteer for an NGO and connect with people ​</p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center  mt-4 pt-4" id="feat" data-aos="zoom-in">
        
        <a href="#feat" class="button justify-content-center">Check Out the Features </a>
      
      </div>
    </div>

    <div class="container pt-4" data-aos="zoom-in">

      <h2 style="text-align: center; ">Features for the Users</h2>
      <div class="container img-container text-center" id="flow" class="flow">
        <img src="assets/imgs/flow.png" style="height: 90px;" alt="" class="flow">
        <div class="overlay"></div>
      </div>
    </div>
  </section>
  <section style="height: auto;" id="features" data-aos="fade-in">
    <ul class="nav nav-pills " id="pills-tab" role="tablist" style="background-color: #f5f5f5;">
      <li class="nav-item nav-tab">
        <a class="nav-link nav-tab active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Organization</a>
      </li>
      <li class="nav-item nav-tab">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">Participants</a>
      </li>

    </ul>
    <div class="tab-content " id="pills-tabContent">
      <div class="tab-pane show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
        >
        <div class="container">
          <div class="card-deck pt-4">
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/publicity.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Publicity</h5>
                <p class="card-text">A larger target audience is guaranteed through the app.​</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/reminder.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Timely reminders</h5>
                <p class="card-text"> Maximum participation will be seen due to the scheduled and regular notifications
                  on the app.​</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/comms.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Communication with the volunteers</h5>
                <p class="card-text"> Automatic groups will be formed so the hassle of saving contact details and
                  managing WhatsApp groups is eliminated.</p>
              </div>
            </div>
             
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/qr.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">QR authentication</h5>
                <p class="card-text">The need of manually checking the id proofs is not needed. ​</p>
              </div>
            </div>
          </div>
            
           
          <div class="card-deck mt-4 pb-4">
            
           
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/logistics.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Easy operations and logistics:</h5>
                <p class="card-text">To be filled​</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/certificate.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Certificate Management</h5>
                <p class="card-text">Right from making them to distributing them, our app will handle everything.</p>
              </div>
            </div>
            
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/rating.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Rating</h5>
                <p class="card-text">Get feedback from the participants.</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/organization/free_to_use.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Free to use​</h5>
                <p class="card-text"> According to our introductory offer, the app will be free of charge right now.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="container">
          <div class="card-deck pt-4">
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/stop.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">One Stop Solution</h5>
                <p class="card-text">One can participate in all forms of social events without being associated to the
                  host entity.​</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/filter.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Custom filters</h5>
                <p class="card-text">Get tailored recommendations based on personal interest through pre-selected
                  filters.</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/pan-india-icon.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PAN India </h5>
                <p class="card-text">Borderless and unified solution to recognize volunteering work done in any part of
                  the nation. </p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/dashboard.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Personalized dashboard</h5>
                <p class="card-text">Keep track of your accomplishments in a go.</p>
              </div>
            </div>
           
            
          </div>
          <div class="card-deck mt-4 pb-4">
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/badge.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Badge of honor </h5>
                <p class="card-text">Exemplary work will be recognized and rewarded accordingly. ​</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/privacy.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Privacy ensured</h5>
                <p class="card-text"> Organization won't be disturbing you after the event comes to an end.
                </p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/certificate.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"> E-Certificates​</h5>
                <p class="card-text">All volunteering work will be recognized and praised through E-Certificates
                  accessible in the app​.</p>
              </div>
            </div>
            <div class="card text-center">
              <img class="card-img-top" src="assets/imgs/participants/record.png"
                style="height: 100px; width: 100px; padding-top: 15px; align-self: center;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Structured records​</h5>
                <p class="card-text"> Formal record of all the social activities done by an individual. ​</p>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="jumbo" style="background-color: #04151f; color: #f5f5f5;" id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-5 col-sm-6 " style="text-align: center;">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a class="links" href="/">Home</a></li>
            <li><a class="links" href="/users">Users</a></li>
            <li><a class="links" href="/aboutus">About Us</a></li>
            <li><a class="links" data-toggle="modal" data-target="#exampleModal">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 " class="social">
          <div class="text-center">
            <h3>Sociio</h3>
            <a class="s-logo" href="http://www.facebook.com/profile.php?id="><i class="fa fa-lg fa-facebook"></i></a>
            <a class="s-logo" href="http://www.linkedin.com/in/"><i class="fa  fa-lg fa-linkedin"></i></a>
            <a class="s-logo" href="mailto:"><i class="fa  fa-lg fa-envelope-o"></i></a>
            <div class="mt-2">
              <img class="logo" src="assets/imgs/google.png" style="height: 50px;margin:0 auto; display: inline;"
                alt="Play Store">
              <img class="logo" src="assets/imgs/app.png" style="height: 35px; display: inline;" alt="">
            </div>
          </div>

        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-auto ">
          <p style="text-align: center;" class="small">© Copyright 2020 Sociio</p>
        </div>
      </div>
    </div>
  </footer>
  
 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
    <script>
      error404 = () => {
        alert("Page Under Construction!");

      }
    </script>
</body>

</html>